.link {
  padding: 0;
  font: inherit;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  letter-spacing: 0.08em;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--transition),
    text-decoration-color var(--transition);
}

.link:hover,
.link:focus {
  text-decoration-color: inherit;
}

.link--go-back {
  position: absolute;
  top: 0;
  left: 0;

  padding: 30px 10px;
  font-size: 50px;
  color: var(--contrast-color);
  transform: translateX(-100%);
}

.btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 8px);
  margin: 4px;
  padding: 10px 16px;
  font: inherit;
  font-family: var(--ff-press-start);
  font-weight: 700;
  letter-spacing: 0.18rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  text-shadow: 
    2px 0 var(--nero), 
    -2px 0 var(--nero), 
    0 2px var(--nero), 
    0 -2px var(--nero);
  background-color: var(--contrast-color);
  border: none;
  box-shadow: 4px 0 0 0 var(--nero),
    -4px 0 0 0 var(--nero),
    0 4px 0 0 var(--nero),
    0 -4px 0 0 var(--nero);
  cursor: pointer;
  transition:
    color var(--transition),
    background-color var(--transition);
  overflow: hidden;
}

/* .btn:not(.btn--icon):before,
.btn:not(.btn--icon)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 200%;
  height: 100%;
  background-color: var(--secondary-color);
  transform: translateX(-200%);
  transform-origin: left;
  clip-path: polygon(50px 0%, 100% 0%, calc(100% - 50px) 100%, 0% 100%);
  transition:
    transform var(--transition);
  pointer-events: none;
} */

/* .btn:not(.btn--icon)::after {
  top: unset;
  bottom: 0;
  transition-delay: 0.08s;
} */

/* .btn:hover::before,
.btn:hover::after {
  transform: translateX(-30%);
  transform-origin: right;
} */

.btn span,
.btn svg {
  position: relative;
  z-index: 1;
}

.btn--icon {
  width: 50px;
  height: 50px;
  padding: 0;
  color: var(--contrast-color);
  background-color: transparent;
  box-shadow: none;
}

.btn--icon svg {
  width: 100%;
  height: 100%;
}

.btn--float {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 50;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.18rem;
  text-transform: uppercase;
}

.title--xl {
  font-size: 50px;
  line-height: 150%;
}

.theme-btn {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  background: linear-gradient(
    180deg,
    var(--secondary-color) 0%,
    var(--secondary-color) 25%,
    var(--main-color) 5%,
    var(--main-color) 50%,
    var(--contrast-color) 50%,
    var(--contrast-color) 75%,
    var(--light-color) 75%,
    var(--light-color) 100%
  );
  border: none;
  border-radius: 50%;
  cursor: pointer;

  transition: transform var(--transition);
}

.theme-btn:hover {
  transform: scale(1.1);
}

.list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}

.list--grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}

.item {
  margin-bottom: 20px;
}

.item:last-child {
  margin-bottom: 0;
}

.list--grid .item {
  margin-bottom: 0;
}

.achievement {
  width: 50px;
  height: 50px;
  padding: 5px;
  background-color: var(--main-color);
  border: 4px inset var(--light-color);
  border-radius: 50%;
  overflow: hidden;
  transition:
    background-color var(--transition),
    border-color var(--transition);
}

.achievement img {
  width: 100%;
  height: auto;
  object-fit: contain;
  filter: invert(1);
}

.friend {
  width: 50px;
  height: 50px;
  background-color: var(--main-color);
  border: 4px inset var(--light-color);
  border-radius: 8px;
  overflow: hidden;
  transition:
    background-color var(--transition),
    border-color var(--transition);
}

.friend img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.skill:not(:only-child) {
  margin-bottom: 40px;
}

.skill__wrapper {
  display: flex;
  align-items: center;
  font-family: var(--ff-press-start);
}

.skill__wrapper.link {
  padding-right: 30px;
}

.skill__btn,
.action__btn {
  position: absolute;
  top: 10px;
  right: -15px;

  margin-left: auto;
  font: inherit;
  font-size: 30px;
  padding: 5px 10px;
  padding-right: 0;
  color: var(--main-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color var(--transition);
}

.skill__progress,
.level__progress {
  position: relative;
  z-index: 1;

  width: calc(100% - 8px);
  height: 10px;
  margin: 4px;
  margin-top: 14px;
  background-color: var(--grey);
  box-shadow: 4px 0 0 0 var(--nero),
    -4px 0 0 0 var(--nero),
    0 4px 0 0 var(--nero),
    0 -4px 0 0 var(--nero);
}

.level__progress {
  height: 20px;
  margin-bottom: 34px;
}

.skill__progressbar,
.level__progressbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contrast-color);
  transition:
    width var(--transition),
    background-color var(--transition);
}

.skill__level {
  margin-left: auto;
}

.skill__badge {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  margin-right: 14px;
  padding: 8px;
  font-family: var(--ff-press-start);
  color: var(--white);
  background-color: var(--main-color);
  box-shadow: 4px 0 0 0 var(--nero),
    -4px 0 0 0 var(--nero),
    0 4px 0 0 var(--nero),
    0 -4px 0 0 var(--nero);
  aspect-ratio: 1 / 1;
  transition:
    background-color var(--transition),
    border-color var(--transition);
}

.level {
  width: 100%;
  padding-top: 40px;
}

.level__text { 
  margin: 0;
  font-family: var(--ff-press-start);
}

.action {
  position: relative;

  margin-bottom: 10px;
  padding-right: 40px;
}

.action__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  font: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.action__text {
  flex-grow: 1;
  display: flex;
  align-items: center;
  text-align: left;
}

.action__text::after {
  content: '';
  flex-grow: 1;

  width: auto;
  height: 4px;
  margin: 0 14px;
  background-color: var(--contrast-color);
  transition: background-color var(--transition);
}

.action__xp {
  font-family: var(--ff-press-start);
  font-size: 12px;
  color: var(--lime-green);
}

.action__xp--neg {
  color: var(--persian-red);
}

.action__btn {
  top: -5px;
}

.horizontal-nav {
  display: flex;
  width: calc(100% + 40px);
  margin: 0 -20px;
  margin-bottom: 40px;
  border-bottom: 1px solid var(--light-color);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;

  transition: border-color var(--transition);
}

.horizontal-nav::-webkit-scrollbar {
  display: none;
}

.horizontal-nav__list {
  flex-shrink: 0;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
}

.horizontal-nav__item {
  flex-shrink: 0;
  padding-right: 20px;
  font-size: 14px;
}

.horizontal-nav__item .link {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: -1px;
  padding: 30px 0;
}

.horizontal-nav__item .link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0;
  border-bottom: 5px solid var(--contrast-color);

  transition:
    width var(--transition),
    border-color var(--transition);
}

.horizontal-nav__item.is-active .link::after {
  width: 100%;
}

.horizontal-nav__badge {
  margin-left: 15px;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  color: var(--nero);
}

.tabs {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tabs__item {
  width: 100%;
  height: 0;
  opacity: 0;
  pointer-events: none;
}

.tabs__item.is-active {
  height: auto;
  opacity: 1;
  pointer-events: initial;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
}

.input-wrapper label {
  position: absolute;
  top: -10px;
  left: 15px;
  z-index: 1;
  padding: 0 2px;
  font-weight: bold;
  font-size: 12px;
  background-color: var(--white);
}

.input-wrapper input {
  width: calc(100% - 8px);
  height: 50px;
  margin: 4px;
  padding: 10px;
  border: 4px dashed transparent;
  box-shadow: 4px 0 0 0 var(--nero),
    -4px 0 0 0 var(--nero),
    0 4px 0 0 var(--nero),
    0 -4px 0 0 var(--nero);
  outline: none;
  transition: border-color var(--transition);
}

.input-wrapper input:hover,
.input-wrapper input:focus {
  border-color: var(--light-color);
}

.input-wrapper input.is-invalid {
  border-color: var(--persian-red);
}

.input-wrapper input::placeholder {
  font-family: var(--ff-orbitron);
}

.input-wrapper input[type="password"] {
  font-family: monospace;
}

.error {
  display: block;
  font-size: 12px;
  color: var(--persian-red);
}

.error::first-letter {
  text-transform: uppercase;
}

.notification {
  position: fixed;
  left: 50%;
  bottom: 10px;
  z-index: 50;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 450px;
  padding: 20px;
  background-color: color-mix(in srgb, var(--light-color) 80%, transparent);
  box-shadow: 4px 0 0 0 var(--nero),
    -4px 0 0 0 var(--nero),
    0 4px 0 0 var(--nero),
    0 -4px 0 0 var(--nero);
  transform: translateX(-50%);
  overflow: hidden;
}

.notification__close {
  position: absolute;
  top: 10px;
  right: 10px;

  width: 25px;
  height: 25px;
  padding: 0;
  color: var(--secondary-color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.notification__close svg {
  width: 100%;
  height: 100%;
}

.notification .btn {
  padding: 8px;
  font-size: 14px;
}

.notification__progress {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 8px;
  background-color: var(--main-color);
  transform-origin: left;
  transform: scaleX(0);
}

.notification__progress.active {
  animation: progress 3s linear 0s normal forwards;
}

@media (max-width: 768px) {
  .btn {
    padding: 10px;
    font-size: 12px;
  }

  .btn--icon {
    padding: 0;
  }

  .list--grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .notification {
    width: 100%;
    max-width: 350px;
  }
}
