/* Font */

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@800&family=Press+Start+2P&display=swap');

/* Variables */

:root {
  /* width */
  --max-width: 500px;
  --max-width: 500px;
  /* basic colors */
  --white: #ffffff;
  --nero: #141414;
  --grey: #D3D3D3;
  --persian-red: #d63333;
  --lime-green: #4acc4a;

  /* theme 1 colors */
  --slate-blue: #6f61c0;
  --medium-purple: #a084e8;
  --blizzard-blue: #8be8e5;
  --cosmic-latte: #d5ffe4;

  /* theme 2 colors */
  --dodger-blue: #30a2ff;
  --deep-sky-blue: #00c4ff;
  --cream-brulee: #ffe7a0;
  --corn-field: #fff5b8;

  /* theme 3 colors */
  --martinique: #40394a;
  --blackcurrant: #1c1427;
  --padua: #7eca9c;
  --tea-green: #ccffbd;

  /* theme 4 colors */
  --allports: #1b6b93;
  --astronaut-blue: #164b60;
  --viking: #4fc0d0;
  --mint-green: #a2ff86;

  /* theme 5 colors */
  --carissma: #e48586;
  --purple-mountains-majesty: #916db3;
  --melon: #fcbaad;
  --amour: #fde5ec;

  /* theme 6 colors */
  --tutu: #ffe5e5;
  --your-pink: #ffbfbf;
  --feijoa: #a8df8e;
  --saltpan: #f3fde8;

  /* theme 7 colors */
  --nepal: #9babb8;
  --bleach-white: #eee3cb;
  --bone: #d7c0ae;
  --hemp: #967e76;

  /* theme 8 colors */
  --clover: #435334;
  --norway: #9eb384;
  --ottoman: #cedebd;
  --old-lace: #faf1e4;

  /* theme 9 colors */
  --affair: #836096;
  --light-coral: #ed7b7b;
  --harvest-gold: #f0b86e;
  --honeysuckle: #ebe76c;

  /* theme 10 colors */
  --melanzane: #3f1d38;
  --meteorite: #4d3c77;
  --strikemaster: #a2678a;
  --petite-orchid: #e19898;

  /* theme 11 colors */
  --bay-of-many: #313866;
  --blue-gem: #504099;
  --deep-lilac: #974ec3;
  --pale-magenta: #fe7be5;

  /* theme 12 colors */
  --nepal-2: #96b6c5;
  --heather: #adc4ce;
  --bleach-white-2: #eee0c9;
  --alabaster: #f1f0e8;

  /* theme colors */
  --main-color: var(--medium-purple);
  --secondary-color: var(--slate-blue);
  --contrast-color: var(--blizzard-blue);
  --light-color: var(--cosmic-latte);

  /* font */
  --ff-orbitron: 'Orbitron', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --ff-press-start: 'Press Start 2P', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  --font-size: 16px;
  --font-family: var(--ff-orbitron);
  /* transition */
  --transition: 0.4s ease-in-out;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: inherit; /* inherits from the HTML element*/
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--font-size);
  line-height: 155%;
  color: var(--nero);
  background-color: var(--white);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
  -webkit-background-clip: text;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

main {
  position: relative;
  z-index: 2;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--white);
}

main:not(:only-child) {
  margin-bottom: 102px;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 0;
  width: 100%;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 20px;
}
