.main-color { 
  color: var(--main-color);
}

.secondary-color { 
  color: var(--secondary-color);
}

.contrast-color { 
  color: var(--contrast-color);
}

.light-color { 
  color: var(--light-color);
}
